CompileFlags:
  Add: [
    -I~/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20230928/xtensa-esp-elf/xtensa-esp-elf/include
    -isysroot=~/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20230928/xtensa-esp-elf,
    -mlong-calls,
  ]
  Remove: [
    -fno-tree-switch-conversion,
    -fno-shrink-wrap,
    -mtext-section-literals,
    -mlongcalls,
    -fstrict-volatile-bitfields,
    -free,
    -fipa-pta,
  ]
Diagnostics:
  Suppress: "pp_including_mainfile_in_preamble"
Clang:
  Executable: /home/jmatthews/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20230928/xtensa-esp-elf/bin/xtensa-esp32-elf-gcc
  Args:
    - "-target"
    - "xtensa-esp32-elf"
    - "-D__XTENSA__"
    - "-D__ESP32__"
